    <main class="main-content">

      <section class="section">
        <div class="container">
          <div class="row gap-y">
            <div class="col-12 col-lg-4">
              <div class="cart-price">
                <h3>Join Audio Stream</h3>
                <form method="post" action="/users/register">                 
                 <input class="form-control" type="email" id="email" placeholder="email"  name="email"><br>
                 <input class="form-control" type="text" id="username" placeholder="username"  name="username"><br>
                 <input class="form-control" type="password" id="password" placeholder="*****"  name="password"><br>
                 <input class="form-control" type="password" id="confirm-password" placeholder="*****"  name="password2"><br>
                 <div class="text-right">
                  <button id="button-join" class="btn btn-primary" type="submit">Sign up <i class="ti-angle-right fs-9"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>