<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>JukeBox</title>

  <!-- Styles -->
  <script type="text/javascript" src="/js/ejs.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- Favicons -->
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="icon" href="img/favicon.png">
</head>

<body class="body-scrolled">


  <!-- Topbar -->
  <nav class="nav">
    <div class="container">
      <div class="topbar">      
        <div class="topbar-left"><a id='logo' href="/"><h1>JukeBox</h1></a></div>
        <div class="topbar-right">
          
            <a class="sign-in" href="">Sign in</a>

          <a class="sign-up" href="/users/login">Sign up</a>
        </div>
      </div>

    </nav>
    <!-- END Topbar -->


    <!-- Main container -->
    <main class="main-content">
      <section class="section">
        <div class="container">
          <div class="stations">
            <% for (var i = 0; i < result.length; i++ ){%> 
            <div class=" col-md-3 text-center">
              <div id="<%= result[i].id %>" class="profile-wrapper channel">
                <p><%= result[i].username %></p>
                <hr>
                <img src="<% if(result[i].image) {%> <%= result[i].image %><%}%>" alt=""><br>
                <hr>
                <p><% if(result[i].tracks){%><%= result[i].tracks.length %><%} %> tracks</p>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </section>
    <div class="playlist">

      <h3>Join Audio Stream</h3>
      <form method="post" action="/users/register">                 
       <input class="form-control" type="email" id="email" placeholder="email"  name="email"><br>
       <input class="form-control" type="text" id="username" placeholder="username"  name="username"><br>
       <input class="form-control" type="password" id="password" placeholder="*****"  name="password"><br>
       <input class="form-control" type="password" id="confirm-password" placeholder="*****"  name="password2"><br>
       <div class="text-right">
        <button id="button-join" class="btn btn-primary" type="submit">Sign up <i class="ti-angle-right fs-9"></i></button>
      </form>

    </div>
  </main>
  <!-- END Main container -->






  <!-- Footer -->
  <footer class="site-footer">
    <div id="aplayer" class="aplayer"></div>
  </footer>
  <!-- END Footer -->



  <!-- Scripts -->
  <script type="text/javascript">


  </script>
  <script src="https://cdn.turbo360-dev.com/dist/turbo.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/dropzone.js"></script>
  <script src="/js/app.js"></script>


</body>
</html>
